.App {
	padding: 3rem;
	color: #666;
}
.borderAll {
	border: 1px solid black;
}
.bold {
	font-weight: bold;
}
.title {
	padding-left : 2rem;
	margin-bottom : 3rem;
}

.table__header {
	display: flex;
	justify-content: space-around;
	padding: 1.5rem;
	border: 1px solid #ddd;
}
.table__headElement {
	flex: 1 1 0;
	text-align: right;

}
.table__headElement--big {
	text-align: left;

}
.table__row {
	display: flex;
	justify-content: space-around;
	padding: 1.5rem;
	font-weight: bold;
}
.table__row--grey {
	background-color: #eee;
}
.table__row--hoverable:hover {
	background-color: #b3f2e9;
}
.table__rowElement {
	flex: 1 1 0;
	text-align: right;
}
.table__rowElement--descripcion {
	text-align: left;
}
.table__textInput {
	text-align: right;
}
.table__textInput:hover {
	border: 1px solid #00d1b2;
}
.table__textInput--descripcion {
	width: 100%;
	text-align: left;
}
.table__textInputContainer {
	display: flex;
	justify-content: flex-end;
}
.table__textInputContainer--descripcion {
	justify-content: flex-start;
}
.table__footer {
	border-top: 1px solid black;
}
.table__footerElement {
	flex: 4 0 0;
	padding-right: 3rem;

}

.total {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
}